Repository zandomed/zan-weather: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["eslint"],
  "*.{json,css,md}": "prettier --check"
}

style(code): apply linter fix
  postcss.config.mjs
  tailwind.config.ts
Due: eslint

ci: implement Dependabot
  .github/dependabot.yml
  bun.lockb
Due: none

ci: implement CI to Github Action
  .github/workflows/ci.yml
Due: none

ci: fix dependency to only PR's to main
  .github/workflows/ci.yml
Due: none

docs: add CI status badge
  README.md
Due: prettier --check

chore: remove all code to next references
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tailwind.config.ts
Due: eslint, prettier --check
